.mail_content{:style => "padding:20px;"}
  %p{:style => "font-weight:bolder;"}
    = "Hello, #{@email}!"
  %p
    = "You got a new user: "
    %span{:style => "color:#2fb495;"}= @user_mail
  %p
    Have Fun!
    %br/
    The Little Spark Team.
