.mail_content{:style => "padding:20px;"}
  %p{:style => "font-weight:bolder;"}
    = "Hello, #{@email}!"
  %p
    = "You got a new user: #{@user_mail}."
  %p
    Have Fun!
    %br/
    The Baby Gift Team.
