.order_history
  .tittle_box
    .tittle_content.uppercase= I18n.t('content.page.account_order_his.step')
  .line
  %table
    %thead
      %tr.bg
        %th Name
        %th.wid-action Actions
    %tbody
      %tr{:class=>""}
        %td aaa
        %td aaa
