<!-- (c) 2005, 2013. Authorize.Net is a registered trademark of CyberSource Corporation -->
<div class="AuthorizeNetSeal">
  <script type="text/javascript" language="javascript">var ANS_customer_id="e0ca3ed0-d538-45af-a257-1dfd1b509fbb";</script>
  <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
  <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Online Payment Service</a>
</div>
