/ locals: text
.gift_box
  = image_tag("common/icon_gift.png" , :class => "img_gift")
  %p.gift_text= text
  .gift_action
    = link_to I18n.t('label.button.enroll') , step_1_enrolments_path , :class => "uppercase mybtn btn-pink btn-enroll"
    = link_to I18n.t('label.button.gift') , term_homes_path , :class=> "uppercase mybtn btn-green btn-gift"
