#payment_card
  %ul.card
    %li
      = link_to image_tag("common/icon_visa.jpg") , "#"
    %li
      = link_to image_tag("common/icon_master.jpg") , "#"
    %li
      = link_to image_tag("common/icon_amex.jpg") , "#"
    %li
      = link_to image_tag("common/icon_discover.jpg") , "#"