#social_media
  %ul.social_medial_icon
    %li
      = link_to image_tag("common/icon_twitter.png") , "https://twitter.com/LittleSpark", :target => "_blank"
    %li
      = link_to image_tag("common/icon_facebook.png") , "http://www.facebook.com/littlesparkinc", :target => "_blank"
    %li
      = link_to image_tag("common/icon_pinterest.png") , "http://www.pinterest.com/littlespark", :target => "_blank"
    %li
      = link_to image_tag("common/icon_youtube.png") , "http://www.youtube.com/littlespark", :target => "_blank"
