#social_media
  %ul.social_medial_icon
    %li
      = link_to image_tag("common/icon_twitter.png") , "#"
    %li
      = link_to image_tag("common/icon_facebook.png") , "#"
    %li
      = link_to image_tag("common/icon_pinterest.png") , "#"
    %li
      = link_to image_tag("common/icon_youtube.png") , "#"
