.popup
  .popup_header
    %span Terms & Conditions
  .popup_content
    Simple popup
  .popup_footer
    %input.no.btn.btn-gray.simplemodal-close{:type => "submit", :value => "Cancel"}
    / %input#agree_save.yes.btn.btn-gray{:type => "submit", :value => "Submit"}

