#popup
  .popup_header
    %span Terms & Conditions
  .popup_content
    hello teo
  .popup_footer
    %input.no.btn.btn-gray.simplemodal-close{:type => "submit", :value => "Cancel"}
    %input#agree_save.yes.mybtn.btn-green{:type => "submit", :value => "Submit"}

