.fqa_about_lef.tittle_content About Little Spark
.fqa_about_right
  %p.tittle_p What is Little Spark?
  %p Little Spark is an early childhood development company. Our team of experts have devel-<br>oped a monthly curriculum for parents interested in development in babies 0 to 36 months old. 
  %p With your enrollment, each month you will receive a kit that contains 2-4 developmental toys and an activity guide. The activity guide explains what skills your baby is developing that month and how to use the toys to encourage your baby to practice those all-<br>important life skills. Our kits are progressive, meaning that each month’s kit builds upon the previous month. It progresses as your baby progresses! Click here to see a sample kit.
  %p You keep the toys so that your baby can continue to practice existing skills and play with them in a different way to learn other skills.
  %p.tittle_p What is special about your curriculum, kits, and toys?
  %p Our curriculum of 36 kits is developed by an expert panel that includes an infant develop-<br>mental psychologist, a pediatrician, an infant cognitive researcher, an infant occupational therapist, teachers, and parents. Click here to read their bios.
  %p The toys are specifically chosen for their learning and play value. The included activity guide details how to use the toys to encourage developmental growth. We also ship only toys that meet our high standards for high quality and safe materials used. Some of the brands we feature are Plan Toys, Hape, Haba, Melissa & Doug, Wimmer Ferguson, Lamaze, among others.
.clearboth