#faq_content.page_content_space
  .title_page= I18n.t('content.page.fqa.title')
  #fqa_menu_link_page
    = render "shared/fqa_menu_link"
  #fqa_about_littlespark
    = render "home/fqa_about_littlespark"
