%ul#gift-steps.clearfix
  = customized_link_to I18n.t('content.page.gift_1.step') , step_1_gifts_path(:gift_id => params[:gift_id]), :wrap_tag => ['li', :id => 'step_1', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_1_gifts_path, create_update_gift_gifts_path]
  = customized_link_to I18n.t('content.page.gift_2.step'), step_2_gifts_path(:gift_id => params[:gift_id]), :wrap_tag => ['li', :id => 'step_2', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_2_gifts_path, update_gift_plan_gifts_path]
  = customized_link_to I18n.t('content.page.gift_3.step'), step_3_gifts_path(:gift_id => params[:gift_id]), :wrap_tag => ['li', :id => 'step_3', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_3_gifts_path, update_gift_billing_gifts_path]
  = customized_link_to I18n.t('content.page.gift_4.step'), step_4_gifts_path(:gift_id => params[:gift_id]), :wrap_tag => ['li', :id => 'step_4', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_4_gifts_path]
.dotted-line
