.mail_logo= image_tag('common/logo_text.png')
.mail_content{:style => "margin:20px;"}
  %p{:style => "font-weight:bolder;"} 
    = "Dear email"
  %p Thank you for joining Little Spark!
  %p Please, follow this 
  %p Email: @email