.enroll-form {
  margin: 0 auto;
  width: 870px;
  label.collection_radio_buttons {
    width: auto;
    margin: 0;
    .info{
      cursor:auto;
    }
  }

  &#register_login .title_login {
    margin-top: 15px;
  }
}

#plan-addresses {
  #btn-submit {
    margin-top: 20px;
    margin-left: 27px;
    margin-bottom:230px;
    width: 288px;
    padding-right: 24px;
    background-position: 242px 12px;
  }
  .shipping-address #ship_to_billing {
    label {
      width: auto;
      line-height: 30px;
      margin-bottom: 0px;
      padding-top: 0px;
      span {
        float: left;
      }
    }
    input {
      width: 15px;
      height: 15px !important;
      margin: 8px 8px 8px 0;
    }
  }
}
#plan-register {
   #btn-submit {
    margin-top: 32px;
    width: 266px;
    padding-right: 24px;
    background-position: 232px 12px;
  }
  .plan_error{
    clear:both;
    text-align: center;
  }
}

#enroll-steps {
  width: 844px;
  margin: 0 auto;
  & ~ .dotted-line {
    margin: 24px 0 40px;
  }
  li {
    margin-right: 37px;
    &.selected:before {
      color: #ffffff;
      background: url("common/bg-enroll-step.png") no-repeat scroll 0 3px transparent;
    }
    &:before {
      color: #ffc91e;
      font-size: 19px;
      padding: 6px 12px 6px 10px;
      margin-right: 7px;
      text-align: center;
      vertical-align: middle;
      background: url("common/bg-enroll-step.png") no-repeat scroll -33px 3px transparent;
      font-family: 'GudeaBold';
      // cursor: pointer;
    }
    &#step_1:before { content: '1'; }
    &#step_2:before { content: '2'; }
    &#step_3:before { content: '3'; }
    &#step_4:before { content: '4'; }
    &#step_5:before { content: '5'; }
    &#step_5 { margin-right: 0; }

    &#step_1.selected, &#step_2.selected {
      margin-right: 37px;
    }
    &#step_4.selected {
      margin-right: 33px;
    }
    a {
      font-size: 18px;
      color: #44464b;
    }
    &.selected a {
      font-family: 'GudeaBold';
    }
  }
}

#child-register {
  .section {
    width: 704px;
    margin: 0 auto 55px;
    text-align: center;
    .info-panel {
      margin: 20px auto 0;
      input {
        margin-bottom: 0;
        width: 220px;
        float: left;
      }
    }
    .text.italic {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 78px;
      margin-top: -10px;
    }
  }
  #btn-submit {
    width: 265px;
    background-position: 220px 12px;
    padding-right: 20px;
  }
  #lnk-submit {
    padding-left: 30px;
    padding-right: 30px;
  }
  #birthday {
    .info-panel {
      width: 314px;
      div:nth-child(2) input {
        margin: 0 18px;
      }
      div:nth-child(3) input {
        width: 106px;
      }
    }
    .icon-question {
      margin-left: 5px;
    }
    .date_birthday{
      input{
        margin-left: 0px;
        width: 310px;
      }
    }
  }
  #name .info-panel {
    width: 460px;
    .input {
      &:first-child {
        margin-right: 8px;
      }
      .error {
        margin-top: 5px;
      }
    }
    .field_with_errors {
      margin-bottom: 0px;
    }
  }
  #gender {
    margin-top: 20px;
    .icon-question {
      margin-left: 15px;
    }
    input[type=radio] {
      display: none;
    }
    .icon-gender {
      background: url('common/icon-gender.png') no-repeat;
      height: 168px;
      width: 222px;
      cursor: pointer;
      &:hover, &.selected {
        height: 162px;
        width: 216px;
        border-radius: 8px;
        border: 3px solid #FFC91E;
      }
      &.boy {
        background-position: 0 0;
        width: 226px;
        &:hover, &.selected {
          width: 220px;
          background-position: -3px -3px;
        }
      }
      &.girl {
        background-position: -244px 0;
        margin: 0 17px;
        &:hover, &.selected {
          background-position: -247px -3px;
        }
      }
      &.surprize {
        background-position: -484px 0;
        &:hover, &.selected {
          background-position: -487px -3px;
        }
      }
    }
  }
  .gender_error{
    margin-left: 355px;
    margin-top: -55px;
    position: absolute;
  }
  .date_birthday{
    .error{
      clear: both;
    }
  }
  #wraplastnamejqiho , #wrapfirstnamejqiho{
    .error{
      clear: both;
    }
  }
}
.shipping_input_form, .billing_input_form{
  margin-left: -20px;
  margin-top: 20px;
  .bl_option{
    margin-top: 0px;
    margin-left: -14px;
    margin-right: 24px;
  }
  .bl_phone{
    margin-left: -14px;
    margin-right: 24px;
  }

}
.shipping_continue{
  margin-left: -25px;
}

/*======================  ENROLMENT 5 ================*/
.enroll5_box{
  width: 390px;
}
.order_info_box{
  height: 150px;
  .info_box{
    width: 245px;
    p.info_text{
      float: left;
    }
    p.number{
      float: right;
    }
  }
  .info_field{
    clear: both;
  }
  .img_box img{
    width: 120px;
    height:150px;
  }
  .line_sum{
    clear: both;
    height: 2px;
    border-bottom: solid 1px #44464b;
    width: 110px;
    float: right;
    margin-bottom: 15px;
  }
  .line_total{
    height: 2px;
    border-bottom: solid 1px #44464b;
    width: 100%;
    float: right;
    margin-bottom: 15px;
  }
}
.signup_box{
  clear: both;
  margin-top: 35px;
  padding-top: 0px;
  input[type='checkbox']{
    float:left;
    margin-right: 7px;
    margin-top: 8px;
    width: 15px;
    height: 15px !important;
  }
  label{
    font-size: 16px;
    width: auto !important;
    font-family: 'Gudea' !important;
    margin-right: 0px !important;
  }
}
.action_box{
  clear: both;
  margin-top: 20px;
  .btn-place{
    width: 265px;
    font-size: 20px;
  }
  p.text{
    margin-top: 10px;
  }
}
