/*============== COMMON =====================*/
.mybtn{
  font-size: 24px;
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding-top:10px;
  padding-bottom: 8px;
  position: relative;
  text-decoration: none;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-family: "GudeaBold";

  &:hover {
    color: #FFC91E;
  }
}
a:hover , a:focus{
  color: #FFC91E;
}
a.btn:hover{
  text-decoration:none;
}
a.underline-link { border-bottom: solid 1px #ffc91e; }
.btn-pink{
  background-color: #e42f5a;
}
.btn-pink:hover, .btn-pink:active, .btn-pink.active, .btn-pink.disabled, .btn-pink[disabled] {
  background-color: #d11e48;
}
.btn-yellow{
  background-color: #ffc91e;
}
.btn-yellow:hover, .btn-yellow:active, .btn-yellow.active, .btn-yellow.disabled, .btn-yellow[disabled] {
  background-color: #fcc106;
}

.btn-green{
  background-color: #2fb495;
}
.btn-green:hover, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {
  background-color: #0a9978;
}

.btn-example{
  width: 150px;
}
.title_page{
  font-family:"GudeaBold";
  font-size:34px;
  color: #515257;
}
.tittle_content{
  font-family:"GudeaBold";
  font-size: 26px;
  color:#2fb495;
  display:block;
  height:27px;
}
.title_account{
  font-family:"GudeaBold";
  font-size:22px;
  color: #2fb495;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  background-image: url('common/bg_line.png');
  background-position: 0 100%;
  background-repeat: repeat-x;
}

.title_box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
  background-image: url('common/bg_line.png');
  background-position: 0 100%;
  background-repeat: repeat-x;
}
.boder_bottom{
  background-image: url('common/bg_line.png');
  background-position: 0 100%;
  background-repeat: repeat-x;
}
.title_box{
  .left_box{
    float:left;
  }
  .right_box{
    text-align: right;
  }
}
.clearboth{
  clear:both;
}
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.text {
  letter-spacing: 0;
  &.bold {
    font-family: "GudeaBold"
  }
  &.unbold {
    font-family:"Gudea" ;
  }
  &.italic {
    font-family: "GudeaItalic"
  }
  &.green { color: #2fb596; }
  &.pink{ color: #e42f5a}
  &.font16 { font-size: 16px; }
  &.font18 { font-size: 18px; }
  &.font20 { font-size: 20px; }
  &.font22 { font-size: 22px; }
  &.font24 { font-size: 24px; }
  &.font26 { font-size: 26px; }
  &.font34 { font-size: 34px; }
  &.line26 { line-height: 26px; }
}

.field{
  height: 40px;
}

.simple_form, .field{
  clear: both;
  label{
    display: block;
    float: left;
    font-family: "GudeaBold";
    font-size: 16px;
    width:155px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #44464b;
    line-height: 20px;
    abbr{
      float: right;
      color: red;
      margin-left: 5px;
    }
  }

  label.inputHintOverlay {
    text-align: left;
    width: auto;
    font-family: "Gudea";
    color: #9fa3af;
    font-size: 24px;
    margin-left: 15px;
  }
  // div.input{
  //   clear:both;
  // }
  input, textarea, select{
    padding-left: 3px !important;
    padding-top: 2px !important;
    font-size: 16px !important;
  }
  input{
    height: 30px !important;
  }
  input[type='submit'],input[type='button'] {
    height: 40px !important;
    padding-top: 5px !important;
  }
  select{
    height: 30px !important;
  }
  textarea{
    height: 80px !important;
  }
  .w220{
    width: 220px;
  }
  .big_label2{
    width:200px !important;
  }
  .input_width3{
    width:300px !important;
  }
  .form-actions{
    background-color: transparent;
    border-top:none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 19px 20px 20px;
  }
  .tooltip {
    font-size: 14px;
    font-family: "GudeaItalic";
  }
  span.error{
    display: block;
    text-align: right;
    color: red;
    margin-top: -5px;
    margin-right: 20px;
  }
  .field_with_errors {
    margin-bottom: 10px;
    &:before, &:after {
      content: "";
      display: table;
      line-height: 0;
    }
    &:after {
      clear: both;
    }
  }
}

.icon-question {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.floatleft{
  float: left;
}

#flash-panel{
  .alert-box{
    background-image:url('common/bg_alert.png');
    background-color: transparent !important;
    border:none !important;
    background-repeat: no-repeat;
    height: 50px;
    text-align: center;
    padding: 20px 0px 0px 0px !important;
    color: #ffffff;
    border-radius: none !important;

  }
}
/*============ PAYMENT INFO ==========*/
.card_info_box label {
  width: 140px;
}
.card_box{
  margin-bottom: 10px;
}
.field.card_number {
  height: auto;
  .error {
    margin-bottom: 10px;
  }
}
.date_field{
  span.space{
    float: left;
    margin: 5px 15px 0px 15px;
  }
  #date_exp_month{
    width: 65px;
    float: left;
  }
  #date_exp_year{
    width: 75px;
    float: left;
  }
}
label.lb_short{
  width: 142px;
}
span.question{
  width: 15px;
  height: 21px;
  display: block;
  float: left;
  // position: absolute;
  color: #fff;
  padding-left: 8px;
  padding-top: 2px;
  margin-top: 5px;
  background-image: url('common/icon_question.png');
}
.security{
  width: 65px;
  float: left;
  margin-right: 10px;
}
.field{
  #btn_apply{
    height: 30px !important;
    width: 85px !important;
    margin-top: -10px;
    letter-spacing: 1;
  }
}

/*============== HEADER =====================*/
#head_top{
  text-align: right;
  position:relative;
  a.btn_top_login{
    margin-left:10px;
    float: right;
    background-image: url('common/btn_login.png');
    background-repeat: no-repeat;
    width:110px;
    height: 35px;
    text-align: center;
    color: #44464b;
    padding-top: 5px;
  }
  p.text_free_shipping{
    float: right;
    margin-top: 5px;
  }
}
#head_nav{
  clear:both;
  .logo_box{
    float:left;
    width:510px;

  }
  .top_menu_box{
    display:block;
    height: 70px;
    padding-top: 10px;
    ul.top_menu{
      li{
        float: left;
        margin-top: 22px;
        text-align:center;
        // margin-left:30px;
        height:38px;
        a{
          color: #44464b;
          font-size: 18px;
        }
      }
      li.selected , li:hover{
        background-image: url(common/icon_select.png);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        a{
          font-family: 'GudeaBold';
        }
      }
      li#howitworks{
        width: 140px;
      }
      li#kits{
        width: 70px;
      }
      li#enrolls{
        width: 80px;
      }
      li#gifts{
        width: 80px;
      }
      li#blog{
        width: 60px;
      }
    }
  }
}

/*================ SOCAIL NETWORK ================*/
#social_media{
  display:block;
  width: 60px;
  height:190px;
  background-color:#f9f7f7;
  padding-top:5px;
}

ul.social_medial_icon li{
  margin-left:-13px;
  margin-top:10px;
  a img{
    // width:50px;
  }
}

#social_media_line{
  display:block;
  height:40px;
  padding-left: 0px;
}

ul.social_medial_icon_line{
  margin-left: 0px;
  li{
    float: left;
    margin-right:10px;
  }
}
#payment_card{
  display:block;
  input[type=radio] {
    display: none;
    &:checked ~ label .icon-credit-card {
      width: 49px;
      height: 27px;
      border: 3px solid #FFC91E;
      border-radius: 7px;
      &.visa {
        background-position: -4px -5px;
      }
      &.master {
        background-position: -62px -5px;
      }
      &.am-express {
        background-position: -120px -5px;
      }
      &.discover {
        background-position: -178px -5px;
      }
    }
  }
  .icon-credit-card {
    background: url('common/icon-credit-cards.png') no-repeat;
    margin-right:5px;
    width: 55px;
    height: 33px;
    &:before {
      content: '';
    }
    &:hover {
      width: 49px;
      height: 27px;
      border: 3px solid #FFC91E;
      border-radius: 7px;

      &.visa {
        background-position: -4px -5px;
      }
      &.master {
        background-position: -62px -5px;
      }
      &.am-express {
        background-position: -120px -5px;
      }
      &.discover {
        background-position: -178px -5px;
      }
    }
    &.visa {
      background-position: -1px -2px;
    }
    &.master {
      background-position: -59px -2px;
    }
    &.am-express {
      background-position: -117px -2px;
    }
    &.discover {
      background-position: -175px -2px;
    }
  }
}

/*================ FOOTER ==================*/
.footer_menu_box{
  display:block;
  height:75px;
  ul.footer_menu{
    margin-left: 55px;
    li{
      float: left;
      margin-top:45px;
      margin-right:20px;
      text-align:left;
      a{
        color: #fff;
        font-size: 16px;
      }
      &:hover , &.selected{
        font-family:"GudeaBold";
      }
    }
    #redeem{
      width:110px;
    }
    #faq{
      width:50px;
    }
    #refer{
      width:110px;
    }
    #terms{
      width:50px;
    }
    #privacy{
      width:60px;
    }
    #contact{
      width:90px;
    }
    #about{
      width:90px;
    }
  }
}
.footer_line{
  clear:both;
  display: block;
  height:3px;
  width:940px;
  background-color:#dbdbdb;
  margin-left: 55px;
}
.footer_text{
  text-align:right;
  font-size:14px;
  width:940px;
  margin-left: 55px;
  margin-top:10px;
}
.simplemodal-wrap{
  height: auto !important;
  width: auto !important;
  overflow: hidden !important;

}
#terms_popup_content{
  display: none;
  width: auto;
}
.modalCloseImg{
  // margin-left: 100%;
}
.popup{
  width: auto;
  height: auto;
  border: solid 1px #dbdbdb;
  border-radius: 5px;

  .popup_header{
    height: 25px;
    width: auto;
    background-color: #f9f7f7;
    font-family: "GudeaBold";
    padding: 5px 20px 5px 20px;
    border-bottom: solid 1px #dbdbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .popup_content{
    height: 200px;
    background-color: #fff;
    padding: 20px;
    padding:10px 20px 10px 20px;

  }
  .popup_footer{
    height: 50px;
    background-color: #fff;
    text-align: right;
    padding:0px 20px 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .mybtn{
      height: 30px;
      padding: 0 20px;
    }

  }
}
