#gift-steps {
  width: 844px;
  margin-left: 210px;
  & ~ .dotted-line {
    margin: 24px 0 40px;
  }
  li {
    margin-right: 37px;
    &.selected:before {
      color: #ffffff;
      background: url("common/bg-enroll-step.png") no-repeat scroll 0 3px transparent;
    }
    &:before {
      color: #ffc91e;
      font-size: 19px;
      padding: 6px 12px 6px 11px;
      margin-right: 7px;
      text-align: center;
      vertical-align: middle;
      background: url("common/bg-enroll-step.png") no-repeat scroll -33px 3px transparent;
      font-family: 'GudeaBold';
      // cursor: pointer;
    }
    &#step_1:before { content: '1'; }
    &#step_2:before { content: '2'; }
    &#step_3:before { content: '3'; }
    &#step_4:before { content: '4'; }
    &#step_5:before { content: '5'; }
    &#step_5 { margin-right: 0; }

    &#step_1.selected, &#step_2.selected {
      margin-right: 37px;
    }
    &#step_4.selected {
      margin-right: 33px;
    }
    a {
      font-size: 18px;
      color: #44464b;
    }
    &.selected a {
      font-family: 'GudeaBold';
    }
  }
}
