/*---------- CONSTANT---------------------------------------------------------*/
$color-text: #44464b;

// END

.gift-form {
  margin: 0 auto;
  width: 874px;
  label.collection_radio_buttons {
    width: auto;
    margin: 0;
  }
}

#gift-steps {
  width: 844px;
  margin-left: 210px;
  & ~ .dotted-line {
    margin: 24px 0 40px;
  }
  li {
    margin-right: 37px;
    &.selected:before {
      color: #ffffff;
      background: url("common/bg-enroll-step.png") no-repeat scroll 0 3px transparent;
    }
    &:before {
      color: #ffc91e;
      font-size: 19px;
      padding: 6px 12px 6px 11px;
      margin-right: 7px;
      text-align: center;
      vertical-align: middle;
      background: url("common/bg-enroll-step.png") no-repeat scroll -33px 3px transparent;
      font-family: 'GudeaBold';
      // cursor: pointer;
    }
    &#step_1:before { content: '1'; }
    &#step_2:before { content: '2'; }
    &#step_3:before { content: '3'; }
    &#step_4:before { content: '4'; }
    &#step_5:before { content: '5'; }
    &#step_5 { margin-right: 0; }

    &#step_1.selected, &#step_2.selected {
      margin-right: 37px;
    }
    &#step_4.selected {
      margin-right: 33px;
    }
    a {
      font-size: 18px;
      color: $color-text;
    }
    &.selected a {
      font-family: 'GudeaBold';
    }
  }
}

#gift_info {
  input, textarea {
    width: 388px;
    margin: 15px 0px 0px;
  }
  input {
    height: 44px !important;
  }
  textarea {
    height: 116px !important;
  }
  label {
    margin: 0;
    &.control-label {
      font-family: 'Gudea';
      color: $color-text;
      font-size: 24px;
      width: auto;
    }
    &.inputHintOverlay {
      margin: 27px 0 0 15px;
    }
  }
  .form-inputs {
    width: 388px;
  }
  .description {
    font-size: 15px;
    font-family: 'Gudea';
    color: $color-text;
    margin: 3px 0 22px;
  }
  .section {
    margin-bottom: 35px;
  }
  #left-section {
    width: 378px;
    margin-right: 20px
  }
  #ln_redeem {
    margin-top: 10px;
  }
  #btn-submit {
    background-position: 222px 13px;
    padding-right: 24px;
    width: 267px;
    margin: 0px 0px 110px;
  }
}
