*{
  margin:0;
  padding:0;
}
body{
  background-image:url(common/bg_small.jpg);
}

table{
  border:1px solid #000000;
  border-collapse:collapse;
  margin-bottom:1.5em;
}

table td,table th{
  border:1px solid #656363;
  padding:5px;
}

table th{
  cursor:pointer;
}

table tr:hover{
  background:#E8E7E6 ;
}

a{
  color: #2fb495;
  img { border: none; }
  outline: none;
}

a:link, a:visited{
  text-decoration:none;
}

a:hover,a:focus{
  text-decoration:none;
}

input, textarea,select{
  resize: none;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 4px #CCCCCC inset;
  font-family:"Gudea";
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input, select{
  padding: 3px;
}

label{
  vertical-align:top;
}

ul, ol{
  list-style-type:none;
}

#page-wrapper{
  width:1050px;
  margin:auto;
  padding:0px;
  background-color: #fff;
  font-family:"Gudea";
  font-size: 16px;
  line-height:20.71px;
  letter-spacing: 1px;
}
#header{
  clear: both;
  width:940px;
  height: 110px;
  margin-left: 55px;
  border-bottom: solid 3px #43454a;
}

#container{
  clear: both;
  width:1050px;
  min-height: 600px;
}
.page_content_space{
  width:940px;
  margin-left: 55px;
  margin-top:35px;
}
#footer{
  clear: both;
  width:1050px;
  height:190px;
  background-color:#44464b;
  color:#dadbdb;
}