$font-color: #44464b;
$page-title-color: #2fb495;

#left-nav {
  border-right: 2px solid #45474c;
  min-height: 500px;
  #account-steps{
    margin-left: 30px;
    width: 210px;
    li {
      &.selected, &:hover {
        background: url('common/icon-left-arrow.jpg') no-repeat;
        background-position: 192px 12px;
        a{
            font-family: 'GudeaBold';
        }
      }
      a {
        font-size: 18px;
        font-family: 'Gudea';
        color: $font-color;
        line-height: 41px;
      }
    }
  }
}
#right-content {
  margin: 0 32px 0 54px;
  width: 612px;
  .page-title {
    color: $page-title-color;
    font-size: 22px;
    font-family: 'GudeaBold';
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
  }
  #main-content {
    margin-top: 45px;
    .section {
      .title {
        color: $font-color;
        font-size: 18px;
        font-family: 'GudeaBold';
        margin-bottom: 5px;
      }
      .dotted-line {
        margin-bottom: 8px;
      }
      .info-line {
        .header {
          font-family: 'GudeaBold';
          font-size: 13px;
        }
        .name {
          width: 213px;
        }
        .birthday {
          width: 242px;
        }
        .plan {
          width: 157px;
        }
      }
    }
  }
  #personal-info, #payment-info {
    width: 300px;
  }
  #child-n-plan {
    margin-top: 32px;
  }
}
.contact_information {
  .tittle_box{
    .tittle_content{
      margin-left: 190px;
    }
  }

  span.error {
    margin-right: 192px;
  }

  label{
    width: 185px;
  }
  input{
    width: 225px;
  }
  .email_notification_field{
    clear: both;
    height: 40px;
    label{
      width: 190px;
      // width: 183px;
      line-height: 25px;

    }
    input[type='checkbox']{
      float: right;
      margin-left: 10px;
      // margin-left: 0px;
      width: 17px;
      height: 17px !important;
      margin-top: 0px;
    }

  }
  .update_error{
    text-align: center;
    color:red;
    margin-bottom: 10px;
  }
  .btn_pass_change{
    width: 225px;
    font-size: 18px;
    height: 17px;
    padding-top:5px;
  }
  .btn_contact_info{
    margin-top: 20px;
    width: 227px;
    margin-left: 193px;
    font-size: 20px !important;
  }
  .line{
    background-image: url("common/bg_line.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
    height: 2px;
    width: 620px;
    margin-bottom:30px;

  }
  .current_passwork_field{
    float: left;
  }
  .forgot_pass_link{
    margin-left: 10px;
    font-size: 14px;
  }
}
