$font-color: #44464b;
$page-title-color: #2fb495;

#welcome {
  color: #44464b;
  font-size: 24px;
  font-family: 'GudeaBold';
  margin-left: 30px;
  margin-bottom: 25px;
}

#left-nav {
  #account-steps{
    margin-left: 30px;
    width: 210px;
    li {
      &.selected, &:hover {
        background: url('common/icon-left-arrow.jpg') no-repeat;
        background-position: 192px 12px;
        a{
            font-family: 'GudeaBold';
        }
      }
      a {
        font-size: 18px;
        font-family: 'Gudea';
        color: $font-color;
        line-height: 41px;
      }
    }
  }
}
#right-content {
  width: 612px;
  min-height: 500px;
  margin-bottom: 20px;
  padding: 0 32px 0 54px;
  border-left: 2px solid #45474c;

  .page-title {
    color: $page-title-color;
    font-size: 22px;
    font-family: 'GudeaBold';
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
  }
  #main-content {
    margin-top: 45px;
    .section {
      .dotted-line {
        margin-bottom: 5px;
      }
      .title {
        color: $font-color;
        font-size: 18px;
        font-family: 'GudeaBold';
        margin-bottom: 5px;
      }
      .info-line {
        border-bottom: 1px solid rgb(212,213,215);
        width: 612px;
        &.header {
          font-family: 'GudeaBold';
          font-size: 13px;
          color: $font-color;
          border-bottom: none;
          .name, .birthday, .plan {
            line-height: 30px;
          }
        }
        .name {
          line-height: 60px;
          width: 213px;
        }
        .birthday {
          line-height: 60px;
          width: 189px;
        }
        .plan {
          line-height: 60px;
          width: 210px;
        }
      }
    }
  }
  #personal-info, #payment-info {
    width: 300px;
  }
  #child-n-plan {
    margin-top: 32px;
    .content {
      width: 630px;
      min-height: 200px;
      max-height: 400px;
      overflow-y: scroll;
    }
  }
  #list-children {
    color: $font-color;
    .content {
      width: 630px;
      min-height: 200px;
      max-height: 600px;
      overflow-y: scroll;
    }
  }
  #action {
    margin: 20px 0px;
    .text{
      color: $font-color;
    }
  }
  #child-info .child_box {
    padding-left: 0px;
    margin-top: 0px;
    label {
      width: 187px;
    }
    input, select {
      width: 175px;
    }
    .form_field:first-child {
      margin-top: 0px;
    }
    .first_name_field {
      margin-right: 10px;
    }
    #plan-info {
      margin-top: 5px;
    }
    #btn-cancel {
      width: 138px;
      line-height: 30px;
      font-size: 14px;
      margin-left: 51px;
      margin-top: 10px;
      padding: 0px;
    }
    #btn-submit {
      width: 225px;
      height: 40px;
      font-size: 20px;
      padding: 0px !important;
      margin-left: 7px;
    }
    #replacement {
      width: 138px;
      margin-left: 51px;
    }
  }
}

.change_password {
  .tittle_box{
    .tittle_content{
      margin-left: 211px;
      font-size: 22px;
    }
  }
}
.contact_information {
  .tittle_box{
    .tittle_content{
      margin-left: 190px;
      font-size: 22px;
    }
  }
}
.contact_information, .change_password {

  .input_fields {
    float: left;
    width: 420px;
  }


  span.error {
    margin-right: 0px;
  }

  label{
    width: 185px;
    text-transform: capitalize;
  }
  input{
    width: 225px;
  }
  .email_notification_field{
    clear: both;
    height: 40px;
    label{
      width: 190px;
      line-height: 25px;

    }
    input[type='checkbox']{
      float: right;
      margin-left: 10px;
      width: 17px;
      height: 17px !important;
      margin-top: 6px;
    }

  }
  .update_error{
    text-align: center;
    color:red;
    margin-bottom: 10px;
  }
  .btn_pass_change{
    width: 225px;
    font-size: 18px;
    height: 17px;
    padding-top:5px;
    text-transform: capitalize;
  }
  .btn_contact_info,.btn_change_password{
    margin-top: 20px;
    width: 227px;
    margin-left: 193px;
    font-size: 20px !important;
  }

  .change_password{
    .btn_change_password{
      margin-top: 20px;
      width: 227px;
      margin-left: 193px;
      font-size: 20px !important;
    }
  }


  .line{
    background-image: url("common/bg_line.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
    height: 2px;
    width: 620px;
    margin-bottom:30px;
  }
  .current_passwork_field{
    span.error{
      margin-right: 0px;
    }
  }
  .forgot_pass_link{
    margin-left: 10px;
    font-size: 14px;
    float: right;
    width: 182px;
  }
}
.order_history{
  .line{
    background-image: url("common/bg_line.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
    height: 2px;
    width: 620px;
    margin-bottom:30px;
  }
  .tittle_box{
    .tittle_content{
      margin-left: 190px;
    }
  }

}
.order_history_detail{
  .tittle_box{
    .tittle_content{
      margin-left: 190px;
    }
  }

  .line{
    background-image: url("common/bg_line.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
    height: 2px;
    width: 620px;
    margin-bottom:30px;
  }

  .main_info {

    .info_field {
      .info_label {
        float: left;
        padding-right: 8px;
      }
      .info_text {

      }
    }
    .order_number {
      .info_label {
        font-size: 17px;
      }
      .info_text {
        font-size: 20px;
      }
    }
  }

  .shipping_payment_information {
    padding-top: 21px;
    padding-bottom: 38px;
  }

  .shipping_info {
    .section_title {
      padding-bottom: 10px;

    }
  }

  .payment_info {
    .section_title {
      padding-bottom: 8px;
    }

  }
  .order_summary_info {
    width: 390px;
    .title_box {
      .left_box {
        font-family: "GudeaBold";
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    .order_total {
      p {
        color: #333333;
      }
    }
  }

  .return_btn_section {
    clear: both;
  }
  .btn_return{
    width: 371px;
    font-size: 18px;
    height: 21px;
    padding-top:11px;
  }
}
