= javascript_tag do
  :erb
    var message = {
      not_match: '<%= I18n.t("message.not_match") %>',
      not_blank: "<%= I18n.t('message.not_blank') %>",
      invalid_email: "<%= I18n.t('message.invalid_email') %>",
      plan_missing: "<%= I18n.t('message.plan_missing') %>",
      phone_invalid: "<%= I18n.t('message.phone_invalid') %>",
      phone_format: "<%= I18n.t('message.phone_format') %>",
      zip_format: "<%= I18n.t('message.zip_format') %>",
      card_format: "<%= I18n.t('message.card_format') %>",
      card_missing: "<%= I18n.t('message.card_missing') %>",
      term_missing: "<%= I18n.t('message.term_missing') %>"
    }
