= javascript_tag do
  :erb
    var message = {
      not_match: '<%= I18n.t("message.not_match") %>',
      not_blank: "<%= I18n.t('message.not_blank') %>",
      invalid_email: "<%= I18n.t('message.invalid_email') %>",
      email_not_match: "<%= I18n.t('message.email_not_match') %>",
      plan_missing: "<%= I18n.t('message.plan_missing') %>",
      phone_invalid: "<%= I18n.t('message.phone_invalid') %>",
      phone_format: "<%= I18n.t('message.phone_format') %>",
      zip_format: "<%= I18n.t('message.zip_format') %>",
      card_format: "<%= I18n.t('message.card_format') %>",
      card_missing: "<%= I18n.t('message.card_missing') %>",
      term_missing: "<%= I18n.t('message.term_missing') %>",
      invalid_expiration: "<%= I18n.t('message.invalid_expiration') %>",
      selection_missing: "<%= I18n.t('message.selection_missing') %>",
      server_error: "<%= I18n.t('message.server_error') %>",
      pass_not_match: "<%= I18n.t('message.pass_not_match') %>",
      pass_format: "<%= I18n.t('message.pass_format') %>",
      pass_format_6: "<%= I18n.t('activerecord.errors.messages.too_short', count: 6) %>",
      pass_format_20: "<%= I18n.t('activerecord.errors.messages.too_long', count: 20) %>",
      pass_invalid: "<%= I18n.t('message.server_error') %>"
    }
