!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "margin-left:50px; width:800px; color:#000;"}
      .mail_logo{:style => "float:left;"}= image_tag(@logo_link)
      .button_box{:style => 'float:right; margin-top:18px;'}
        = link_to image_tag(@btn_account_bg), my_account_url, :style => "float:left; margin-right:10px;"
        = link_to image_tag(@btn_gift_bg), step_1_gifts_url, :style => "float:left;"
      .email_content_box{:style => "clear:both; padding-top:10px;"}
        = yield

